{{log}}
{{log '> start article-detail.hbs'}}

<h1>{{ title }}</h1>
<br>
<h2>{{ body }}</h2>
<br>
<h3>Written By {{ author }}</h3>
<br>
<h3>Id: {{ id }}</h3>
<br>
<br>

<form method='post' action='/articles/{{id}}?_method=DELETE'>
  <button type="submit">Delete article</button>
</form>

<br>
<a href="/articles/{{id}}/edit">Edit Article</a>

<br>
<br>
<a href="/articlesHome/">Articles Home</a>

<br>
<br>
{{> footer}}

{{log '> end article-detail.hbs'}}