{{log}}
{{log '> start home.hbs'}}

<h1>Products:</h1>

{{#each proditem}}
  <div>
    <h2>
      <a href="/products/{{id}}">{{product}}</a>
    </h2>
  </div>
{{/each}}

<br>
<br>
<a href="/products/new">ADD PRODUCT</a>


<br>
<br>
<br>
<br>
<h1>Articles:</h1>
<br>
{{#each artitem}}
<div>
  <h2>
    <a href="/articles/{{id}}">{{title}}</a>
  </h2>
</div>
{{/each}}

<br>
<br>
<a href="/articles/new">ADD ARTICLE</a>
