{{log}}
{{log '> start productsHome.hbs'}}

<h1>Products:</h1>
<br>
{{#each allProducts}}
  <div>
    <h2>
      <a href="/products/{{id}}">{{product}}</a>
    </h2>
  </div>
{{/each}}

<br>
<br>
<a href="/products/new">ADD PRODUCT</a>

<br>
<br>
<a href="/articlesHome">Articles Home</a>

<br>
<br>
<a href="/users">Users Home</a>

<br>
<br>
{{> footer}}

<br>
<br>
<a href="/products/logout">Editor Logout</a>

{{log '> end productsHome.hbs'}}