{{log '> start products-form.hbs'}}

<form action="/products/new" method="post">
  <h3>
    <label>ADD NEW PRODUCTS</label>
  </h3>
  <label>Name:
    <input type="text" name="product" id="">
  </label>
  <br>
  <br>
  <label>Price:
    <input type="number" name="price" id="">
  </label>
  <br>
  <br>
  <label>Inventory:
    <input type="number" name="inventory" id="">
  </label>
  <br>
  <br>
  <label>
    <input type="submit" value="Submit">
  </label>
</form>
    {{log '> NEW PRODUCTS page loaded to browser'}}


{{!-- <form method='post' action='/products/{{id}}?_method=DELETE'>
</form> --}}
{{!-- {{log '> DELETE PRODUCTS page loaded to browser'}} --}}

<br>
<br>
<a href="/productsHome/">Back to Products Home</a>
<br>
<br>
{{> footer}}

{{log '> end products-form.hbs'}}