{{log}}
{{log '> start product-detail.hbs'}}

<h1>{{product}}</h1>
<br>
<h2>Price: ${{price}}</h2>
<br>
<h2>Inventory: {{inventory}}</h2>
<br>
<h2>Id: {{id}}</h2>
<br>
<br>

<form method='post' action='/products/{{id}}?_method=DELETE'>
  <button type="submit">Delete product</button>
</form>

<br>
<a href="/products/{{id}}/edit">Edit Product</a>

<br>
<br>
<a href="/productsHome/">Products Home</a>

<br>
<br>
{{> footer}}

{{log '> end product-detail.hbs'}}