{{log}}
{{log '> start user-detail.hbs'}}

<h1>Username: {{username}}</h1>
<br>
<h2>Password: {{password}}</h2>
<br>
<h2>Id: {{id}}</h2>
<br>
<br>

<form method='post' action='/users/{{id}}?_method=DELETE'>
  <button type="submit">Delete user</button>
</form>

<br>
<a href="/users/{{id}}/edit">Edit User</a>

<br>
<br>
<a href="/users/">Users Home</a>

<br>
<br>
<a href="/articlesHome/">Articles Home</a>

<br>
<br>
<a href="/productsHome/">Products Home</a>

<br>
<br>
{{> footer}}

{{log '> end user-detail.hbs'}}